<h2>Add Your Photos</h2>

<p>Once we add your photos, everyone will be able to enjoy them.</p>

<%=semantic_form_for @photo, :html => { :multipart => true } do |f| %>
	<ul class="errors">
	</ul>
	<%=f.inputs do %>
		<%=f.input :uploader_name, label: 'Your First Name', hint: "We want to make sure you get credit for all of your snazzy photography work" %>
		<%=f.input :uploader_email, label: 'Your Email', hint: "Don't worry, it's just between us and you" %>

		<%=f.input :photo, :hint => "Browse for the photos you'd like to add" %>
	<% end %>

    <%= f.buttons do %>
      <button type="submit">Finish and Upload</button>
    <% end %>
<% end %>

<% content_for :footer do %>
	<link href="/css/uploadify.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="/javascripts/jquery.uploadify.js"></script>
	<script type="text/javascript">
	var upload_errors = [];

	$(function() {
	  $('#photo_photo').uploadify({
	    'swf'  : '/uploadify.swf',
	    'uploader'    : <%=raw photos_path(:format=>'js').to_json %>,
	    'cancelImage' : '/images/uploadify-cancel.png',
		'checkExisting': false,
		'removeCompleted': true,
	    'auto'      : false,
		'requeueErrors' : false,
		'multi' : true,
		'buttonText' : 'Select Photos',
		'buttonImage': '',
		'fileObjName' : 'photo[photo]',
		'postData'	: {
			'authenticity_token': <%=raw form_authenticity_token.to_json %>
		},
		'onQueueComplete': function() {
			if (upload_errors.length == 0) {
				document.location = <%= raw thank_you_path.to_json %>;
			} else {
				$('#new_photo').find('.errors').html('');
				for(i in upload_errors) {
					$('#new_photo').find('.errors').append('<ul>'+upload_errors[i]+'</ul>');
				}
				$('#new_photo').find('.commit').show(); // TODO: enable instead
			}
		},
		'onUploadSuccess': function(file, messages, response) {
			var response_object = jQuery.parseJSON(messages);
			if (response_object != true) { // TODO: typeof
				upload_errors = response_object;
				// TODO: requeue eventually
			}
		}
	  });

		$('#new_photo').submit(function() {

			upload_errors = [];

			$('#photo_photo').uploadifySettings('postData',{
					'photo[uploader_name]' : $('#photo_uploader_name').val(),
					'photo[uploader_email]' : $('#photo_uploader_email').val()
			});

			$('#photo_photo').uploadifyUpload();
			// TODO: disable the buttons here, but only if there's photos in the queue
			return false;
		});

	});
	</script>
<% end %>
