<h2><%= link_to 'Photo Albums', albums_path %> <% if @tag %>&rsaquo; <%= link_to @tag, @tag %> <% end %>&rsaquo; View Photo</h2>



<div class="next"><%= link_to 'Next', polymorphic_path([@tag, @next_photo], hide_header: params[:hide_header], anchor: 'photos_show') if @next_photo %></div>
<div class="previous"><%= link_to 'Previous', polymorphic_path([@tag, @previous_photo], hide_header: params[:hide_header], anchor: 'photos_show') if @previous_photo %></div>

  <%= link_to_if @next_photo, image_tag(@photo.photo.url(:full), class: 'full_photo'), polymorphic_path([@tag, @next_photo], hide_header: params[:hide_header], anchor: 'photos_show') %>

<section class="metadata">

  <p class="download_full">
    Want a print? <%= link_to 'Download the full-sized version', @photo.photo.url %>.
  </p>

  <p>
    <% if params[:hide_header] %>
      <%= link_to 'show header', '?' %>
    <% else %>
      <%= link_to 'Hide header', '?hide_header=true' %>
    <% end %>
  </p>

  <section class="tags">
    <ul class="tags">
    <% @photo.tags.reject { |tag| tag.new_record? }.each { |tag| %>
      <li class="tag" id="<%= dom_id(tag) %>"><%= link_to(tag, tag) %></li>
    <% } %>
    </ul>
    <%=semantic_form_for [@photo] do |f| %>
      <a href="#" id="tagging_toggle">Help us categorize this photo</a>
      <%= f.inputs do %>
        <%= f.input :tags, as: :select, multi: true, label: "Update Albums", collection: Tag.non_user.all %>
        <li id="tag_submit">
          <button type="submit">Update</button>
        </li>
      <% end %>
    <% end %>
  </section>

</section>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('form.photo ol').hide();

    $('#tagging_toggle').click(function(){
      $('form.photo ol').slideToggle();
      return false;
    });
  });
</script>
