<%= image_tag @photo.photo.url(:full), class: 'full_photo' %>      

<section class="metadata">

  <p class="download_full">
    Want a print? <%= link_to 'Download the full-sized version', @photo.photo.url %>.
  </p>

  <section class="tags">
  	<ul class="tags">
  	<% @photo.tags.each {|tag|
  		next if tag.new_record?%>
  		<li class="tag" id="<%=dom_id(tag)%>"><%=link_to(tag, tag)%></li>
  	<% } %>
  	</ul>
    <%# TODO: shouldn't we be checking to make sure they have permission to do this? %> 
  	<%=semantic_form_for [@photo,@tag] do |f| %>
  		<%=f.inputs do %>
  			<%=f.input :tag, label: "Add to Album" %>
  			<li>
  			  <button type="submit">Add</button>
  			</li>
  		<% end %>
   	<% end %>
	
  	<% content_for :footer do # TODO: move to app.js once i grok the asset pipeline %>
  		<script type="text/javascript">
  		$(function(){
  			$('#tag_tag').autocomplete({
  				source:<%=raw tags_path.to_json %>
  			});
  		});
  		</script>
  	<% end %>
  </section>
               
</section>